/*###################################################################################   GLOBAL CSS  */
body {
    background: #cadddd; /*Light Blue*/
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}

table {
    text-align: center;
}

th {
    border: 1px solid #fff; /*White*/
    border-collapse: collapse;
}

thead {
    background: #5c001f; /*Maroon*/
    color: #fff; /*White*/
    font-size: 14px;
    font-weight: 300;
}

tbody {
    font-size: 14px;
}

.Background {
    background-color: #000; /*Black*/
    filter: opacity(70);
    opacity: 0.8;
}

.Popup {
    background-color: #fff; /*White*/
    width: auto;
    height: auto;
}

.content-p-custom {
    padding: 1.5rem 1rem 1.5rem 1rem;
}

.header-p-custom {
    padding-left: 0;
    padding-right: 0;
}

.subheader-custom {
    font-size: 12px;
    padding-bottom: 0.5rem;
}

.dropdown-custom {
    padding: 0 0.6rem 0 0.6rem;
    border: 1px solid lightgrey;
    height: 30px;
    width: auto;
    color: #000; /**Black*/
}

.textbox-custom {
    padding: 0 0.6rem 0 0.6rem;
    border: 1px solid lightgrey;
    height: 30px;
}

.disabled-textbox {
    color: #000; /**Black*/
    background: lightgray;
    font-weight: 400;
}

.btn-custom {
    height: 32px;
    width: auto;
    border: none;
    padding: 0 1rem 0 1rem;
    border-radius: 4px 5px;
    text-align: center;
}

.btn-custom:hover{
    opacity: 0.65;
    transition: 0.4s;
}

.note {
    border-left: 5px solid #ff0000; /*Maroon*/
    background: #ff9346; /*Orange*/
    color: #fff; /*White*/
}

.note h5{
    font-size: 14px;
}

.dataTables_wrapper .dataTables_filter {
    float: left;
}

.dataTables_wrapper .dataTables_length {
    float: right;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 500px;
    padding: 0 0.6rem 0 0.6rem;
}

#ErrorCard {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#ErrorCard, #ErrorCard .card-body {
    background-color: #fff;
    padding: 30px 40px 30px 40px;
    border-radius: 15px;
}

#ChartDashboard {
    background-color: lightgrey;
    width: 100%;
    height: 350px;
    padding: 1rem 1rem 1.5rem 1rem;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.chart1 {
    width:50%;
}


/*###################################################################################   MASTER CSS  */
/****************************************/
/*             MAIN CONTENT             */
/****************************************/
#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#page-content-wrapper {
    width:100%;
    min-width: 1000px;
    height:auto;
    overflow-x: auto;
}


/****************************************/
/*                SIDEBAR               */
/****************************************/
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -12rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    background: #272c33; /*Dark Grey*/
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.735rem 1.5rem;
    font-size: 1.264rem;
    font-weight: 700;
    color: #fff; /*White*/
    background: #5c001f; /*Maroon*/
}

#sidebar-wrapper .list-group {
    width: 12rem;
}

#sidebar-wrapper .sidebar-icon {
    margin-right: 10px;
    color: #fff; /*White*/
}

#sidebar-wrapper .list-group-item {
    background: #272c33; /*Dark Grey*/
    color: #fff; /*White*/
}

#sidebar-wrapper .list-group-item-action:hover {
    background: #000000; /*Black*/
    color: #fff; /*White*/
}

/****************************************/
/*                TOPBAR                */
/****************************************/
#topbar-custom {
    background: #5c001f; /*Maroon*/
    /*padding-right: 20px;*/
    padding-left: 15px;
}

.topbar-profile {
    color: #fff; /*White*/
}

.topbar-profile:hover {
    color: #808080; /*Grey*/
    transition: all 0.8s;
}

.topbar-profile i {
    margin-right: 2px;
    vertical-align: middle;
}

/****************************************/
/*                FOOTER                */
/****************************************/
.footer-custom {
    font-size: 11px;
    width: 100%;
}

.footer-custom p {
    padding-left: 0.5rem;
    padding-top: 1rem;
}

/****************************************/
/*             @MEDIA CSS               */
/****************************************/
@media(min-width: 768px) {

    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -12rem;
    }
}


/*###################################################################################   DASHBOARD CSS */
/****************************************/
/*           DASHBOARD CONTENT          */
/****************************************/
#dashboard .card {
    color: #fff; /*White*/
    border: none;
    font-weight: 100;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#dashboard .card h5 {
    font-size: 14px;
}

#dashboard .card-body {
    padding: 1rem 0.5rem 1rem 0.5rem;
}

#ChartDashboard {
    background-color: #e9e9e9;
    width: 100%;
    height: 350px;
    padding: 1rem 1rem 1.5rem 1rem;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#Chart1 {
    font-size: 17px !important;
}


/*###################################################################################   STATISTIC CSS */
/****************************************/
/*           STATISTIC CONTENT          */
/****************************************/
#statistic-content {
    border-top: 5px solid;
    border-top-color: #5c001f; /*Maroon*/
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#statistic-content .card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
    font-size: 14px;
}

#statistic-content .card-body {
    background: #c8e7f8; 
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.ChartBackground {
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#EmcPie1, #EmcPie2, #EmcPie3, #EmcPie4 {
    font-family: 'Trebuchet MS', sans-serif;
    margin-right: 3rem;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#EmcPie1 h1, #EmcPie2 h1, #EmcPie3 h1, #EmcPie4 h1 {
    position: absolute;
    top: 45%; 
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#EmcPie1 p, #EmcPie2 p, #EmcPie3 p, #EmcPie4 p {
    font-weight: 700;
    border-radius: 25px;
    position: absolute;
    width: 180px;
    top: 75%; 
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#ClinicalPie1, #ClinicalPie2, #ClinicalPie3 {
    font-family: 'Trebuchet MS', sans-serif;
    margin-right: 3rem;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#ClinicalPie1 h1, #ClinicalPie2 h1, #ClinicalPie3 h1 {
    position: absolute;
    top: 45%; 
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#ClinicalPie1 p, #ClinicalPie2 p, #ClinicalPie3 p {
    font-weight: 700;
    border-radius: 25px;
    position: absolute;
    width: 180px;
    top: 75%; 
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}


/*###################################################################################   QUEUE LIST CSS */
/****************************************/
/*           QUEUE LIST CONTENT         */
/****************************************/
#q-list-content {
    border-top: 5px solid;
    border-top-color: #5c001f; /*Maroon*/
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#q-list-content .card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
    font-size: 14px;
}

#q-list-content .card-body {
    background: #eaeaea; /*Grey*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}


/*###################################################################################   QMS CSS */
/****************************************/
/*              QMS CONTENT             */
/****************************************/
#qms-content-1 {
    border-top: 5px solid;
    border-top-color: #808080; /*Grey*/
    background: #fff;
}

#qms-content-1 .card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
    font-size: 14px;
}

#qms-content-1 .card-body {
    color: #0072c6;
    padding: 0.4rem 0 0.4rem 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#qms-content-2 {
    background: #fff; /*White*/
}

#qms-content-2 .card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
    font-size: 14px;
    border-radius: 0;
    background: #bf3a3a; /*Light Red*/
}

#qms-content-2 span {
    font-size: 13px;
    color: #fff; /*White*/
}

#qms-content-2 .card-body {
    background: #eaeaea; /*Grey*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#qms-content-2 .card-body input {
    font-size: 15px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    text-align: center;
}

#qms .Popup {
    padding-left: 0;
    padding-right: 0;
}

#qms .Popup .card {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid lightgrey;
    color: #000;
    background: #fff;
}

#qms .Popup .card span {
    font-weight: 700;
}

#qms .Popup .card-body {
    padding: 1rem 1rem 1rem 1rem;
}


/*###################################################################################   STAFF CSS */
/****************************************/
/*             STAFF CONTENT            */
/****************************************/
#staff-content {
    border-top: 5px solid;
    border-top-color: #5c001f; /*Maroon*/
    background: #fff; /*White*/
}

#staff-content .card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0;
    background: #0072c6; /*Blue*/
    color: #fff; /*White*/
}

#staff-content .card span {
    font-weight: 500;
}

#staff-content .Popup .card {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid lightgrey;
    color: #000;
    background: #fff;
}

#staff-content .Popup .card-body {
    padding: 1rem 1rem 1rem 1rem;
}


/*###################################################################################   ADD NEW STAFF CSS */
/****************************************/
/*         ADD NEW STAFF CONTENT        */
/****************************************/
#new-staff-content-1 {
    border-top: 5px solid;
    border-top-color: #5c001f; /*Maroon*/
    background: #fff; /*White*/
}

#new-staff-content-1 .card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0;
    background: #0072c6; /*Blue*/
    color: #fff; /*White*/
}

#new-staff-content-1 .card span {
    font-weight: 500;
}

#new-staff-content-2 .card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0;
}

#new-staff-content-2 .col-2 .card {
    border-top: 5px solid;
    border-top-color: #0072c6;
}

#new-staff-content-2 img {
    max-height: 170px;
    max-width: 170px;
}

#new-staff-content-2 h6 {
    font-size: 14px;
}

#new-staff-content-2 h5 {
    font-size: 16px;
}

#new-staff-content-2 .card span {
    font-weight: 500;
}

#new-staff .Popup {
    padding-left: 0;
    padding-right: 0;
}

#new-staff .Popup .card {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid lightgrey;
    color: #000;
    background: #fff;
}

#new-staff .Popup .card span {
    font-weight: 500;
}

#new-staff .Popup .card-body {
    padding: 1rem 1rem 1rem 1rem;
}


/*###################################################################################   STAFF-INFO CSS */
/****************************************/
/*           STAFF INFO CONTENT         */
/****************************************/
#staff-info-content-1 {
    border-top: 5px solid;
    border-top-color: #5c001f; /*Maroon*/
    background: #fff; /*White*/
}

#staff-info-content-1 .card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0;
    background: #0072c6; /*Blue*/
    color: #fff; /*White*/
}

#staff-info-content-1 .card span {
    font-weight: 500;
}

#staff-info-content-2 .card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0;
}

#staff-info-content-2 .col-2 .card {
    border-top: 5px solid;
    border-top-color: #0072c6; /*Blue*/
}

#staff-info-content-2 img {
    max-height: 170px;
    max-width: 170px;
}

#staff-info-content-2 h6 {
    font-size: 14px;
}

#staff-info-content-2 .card span {
    font-weight: 500;
}

#staff-info .Popup {
    padding-left: 0;
    padding-right: 0;
}

#staff-info .Popup .card {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid lightgrey;
    color: #000;
    background: #fff;
}

#staff-info .Popup .card-body {
    padding: 1rem 1rem 1rem 1rem;
}


/*###################################################################################   REGISTRATION CSS */
/****************************************/
/*         REGISTRATION CONTENT         */
/****************************************/
#registration-content {
    border-top: 5px solid;
    border-top-color: #5c001f; /*Maroon*/
    background: #fff; /*White*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#registration-content .card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0;
    background: #0072c6; /*Blue*/
    color: #fff; /*White*/
}

#registration-content .card span {
    font-weight: 500;
}

#registration-content .Popup .card {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid lightgrey;
    color: #000;
    background: #fff;
}

#registration-content .Popup .card-body {
    padding: 1rem 1rem 1rem 1rem;
}


/*###################################################################################   REGISTRATION-NEW CSS */
/****************************************/
/*       REGISTRATION NEW CONTENT       */
/****************************************/
#registration-new-content-1 {
    border-top: 5px solid;
    border-top-color: #5c001f; /*Maroon*/
    background: #fff; /*White*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#registration-new-content-1 .card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0;
    background: #0072c6; /*Blue*/
    color: #fff; /*White*/
}

#registration-new-content-1 .card span {
    font-weight: 500;
}

#registration-new-content-2 .card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#registration-new-content-2 .col-2 .card {
    border-top: 5px solid;
    border-top-color: #0072c6; /*Blue*/
}

#registration-new-content-2 img {
    max-height: 170px;
    max-width: 170px;
}

#registration-new-content-2 h6 {
    font-size: 14px;
}

#registration-new-content-2 h5 {
    font-size: 16px;
}

#registration-new-content-2 .card span {
    font-weight: 500;
}

#registration-new .Popup {
    padding-left: 0;
    padding-right: 0;
}

#registration-new .Popup .card {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid lightgrey;
    color: #000;
    background: #fff;
}

#registration-new .Popup .card span {
    font-weight: 500;
}

#registration-new .Popup .card-body {
    padding: 1rem 1rem 1rem 1rem;
}


/*###################################################################################   PATIENT-INFO CSS */
/****************************************/
/*         PATIENT INFO CONTENT         */
/****************************************/
#patient-info-content-1 {
    border-top: 5px solid;
    border-top-color: #5c001f; /*Maroon*/
    background: #fff; /*White*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#patient-info-content-1 .card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0;
    background: #0072c6; /*Blue*/
    color: #fff; /*White*/
}

#patient-info-content-1 .card span {
    font-weight: 500;
}

#patient-info-content-2 .card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#patient-info-content-2 .col-2 .card {
    border-top: 5px solid;
    border-top-color: #0072c6; /*Blue*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#patient-info-content-2 img {
    max-height: 170px;
    max-width: 170px;
}

#patient-info-content-2 h6 {
    font-size: 14px;
}

#patient-info-content-2 .card span {
    font-weight: 500;
}

#patient-info-gen-q {
    background: #fff; /*White*/
}

#patient-info-gen-q .card span {
    font-weight: 500;
}

#patient-info-gen-q .card-header {
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
    border-radius: 0;
    background: #c4c4c4; /*Grey*/
    color: #000; /*Black*/   
    font-weight: 500;
}

#patient-info-gen-q .card-body {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#patient-info .Popup {
    padding-left: 0;
    padding-right: 0;
}

#patient-info .Popup .card {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid lightgrey;
    color: #000;
    background: #fff;
}

#patient-info .Popup .card-body {
    padding: 1rem 1rem 1rem 1rem;
}


/*###################################################################################   OPD CSS */
/****************************************/
/*              OPD CONTENT             */
/****************************************/
#opd-content {
    border-top: 5px solid;
    border-top-color: #5c001f; /*Maroon*/
    background: #fff; /*White*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#opd-content .card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0;
    background: #0072c6; /*Blue*/
    color: #fff; /*White*/
}

#opd-content .card span {
    font-weight: 500;
}

#opd .Popup {
    padding-left: 0;
    padding-right: 0;
}

#opd .Popup .card {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid lightgrey;
    color: #000;
    background: #fff;
}
#opd .Popup .card span {
    font-weight: 500;
}

#opd .Popup .card-body {
    padding: 1rem 1rem 1rem 1rem;
}


/*###################################################################################   CONSULTATION CSS */
/****************************************/
/*         CONSULTATION CONTENT         */
/****************************************/
#consult-content-1 {
    border-top: 5px solid;
    border-top-color: #5c001f; /*Maroon*/
    background: #fff; /*White*/
}

#consult-content-1 .card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0;
    background: #0072c6; /*Blue*/
    color: #fff; /*White*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#consult-content-1 .card span {
    font-weight: 500;
}

#consult-content-2 .card, #consult-content-3 .card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0;
    border-top: 5px solid;
    border-top-color: #0072c6; /*Blue*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#consult-content-3 {
    height: 500px;
}

#consult-content-2 img {
    max-height: 170px;
    max-width: 170px;
}

#consult-content-2 h6, #consult-content-3 h6 {
    font-size: 14px;
}

#consult-content-3 .card span, #consult-content-2 .card span {
    font-weight: 500;
}

#consult .Popup {
    padding-left: 0;
    padding-right: 0;
}

#consult .Popup .card {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid lightgrey;
    color: #000;
    background: #fff;
}

#consult .Popup .card-body {
    padding: 1rem 1rem 1rem 1rem;
}

#patient-info-table td {
    padding: 0rem 1rem 0 1rem;
}

.clinical-sign {
    height: 32px;
    width: 110px;
    text-align: center;
    font-weight: 600;
    border: none;
    padding: 0 1rem 0 1rem;
    border-radius: 4px 5px;
    background-color: #0072c6;
    color: #fff;
}

.border-custom {
    border: 2px dashed lightgrey;
}

.combobox-custom {
    vertical-align: bottom;
}

.combobox-custom .ajax__combobox_textboxcontainer {
    width: 92%;
}

.combobox-custom .ajax__combobox_textboxcontainer input {
    width: 100%;
}

.combobox-custom .ajax__combobox_itemlist {
    margin: 0px;
    padding: 0px;
    cursor: default;
    list-style-type: none;
    text-align: left;
    border: solid 1px ButtonShadow;
    background-color: Window;
    color: WindowText;
    width: 40%
}

.combobox-custom .ajax__combobox_itemlist li {
    white-space: nowrap;
    width: 100%;
    padding: 0 3px 0 2px;
}

.EMCViewBtn {
    font-weight: bold;
    color: #fff;
    background-color: #0066ff;
    height: 32px;
    width: auto;
    border: none;
    padding: 0 1rem 0 1rem;
    border-radius: 4px 5px;
    text-align: center;
}

#clinical-info-table {
    width:100%;
}

#PasswordCard {
    position: absolute;
    top: 22%;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 480px;
}

#PasswordCard .card {
    background-color: #efefef;
    padding: 30px 40px 30px 40px;
}

#PasswordCard .card, #tableMC {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

#eMCCard {
    position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 21cm;
    height: auto;
}


/*###################################################################################   LOGIN CSS */
/****************************************/
/*             LOGIN CONTENT            */
/****************************************/
.center-custom {
    position: absolute;
    top: 22%;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 480px;
}

#Title p {
    font-size: 40px; 
    font-weight: 700; 
    color: red;
}

#Title span {
    color: grey
}

#Title {
    border: none;
    background-color: #cadddd; /*Light Blue*/
}

#LoginCard {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#LoginCard .card-body {
    background-color: #fff;
    padding: 30px 40px 30px 40px;
    border-radius: 15px;
}

#LoginTable {
    width: 100%;
    text-align: start;
}

#LoginTable td {
    vertical-align: middle;
}

#LoginTable p {
    display: inherit;
}

#login-option a {
    color: cornflowerblue;
    text-decoration: underline;
    font-size: 15px;
}


/*###################################################################################   FORGOT PASSWORD CSS */
/****************************************/
/*        FORGOT PASSWORD CONTENT       */
/****************************************/
#ForgotPasswordCard {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#ForgotPasswordCard .card-body {
    background-color: #fff;
    padding: 30px 40px 30px 40px;
    border-radius: 15px;
}

#ForgotPasswordTable {
    width: 100%;
    text-align: start;
}

#ForgotPasswordTable td {
    vertical-align: middle;
}

#ForgotPasswordTable p {
    display: inherit;
}



/*###################################################################################   RESET PASSWORD CSS */
/****************************************/
/*         RESET PASSWORD CONTENT       */
/****************************************/
#ResetPasswordCard {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#ResetPasswordCard .card-body {
    background-color: #fff;
    padding: 30px 40px 30px 40px;
    border-radius: 15px;
}

#ResetPasswordTable {
    width: 100%;
    text-align: start;
}

#ResetPasswordTable td {
    vertical-align: middle;
}

#ResetPasswordTable p {
    display: inherit;
}

    
/*###################################################################################   PROFILE CSS */
/****************************************/
/*            PROFILE CONTENT           */
/****************************************/
#profile-content-1 {
    border-top: 5px solid;
    border-top-color: #5c001f; /*Maroon*/
    background: #fff; /*White*/
}

#profile-content-1 .card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0;
    background: #0072c6; /*Blue*/
    color: #fff; /*White*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#profile-content-1 .card span {
    font-weight: 500;
}

#profile-table {
    border: 25px solid aliceblue;
    background-color: aliceblue;
}

#profile-table tr, #profile-table td {
    padding: 0.4rem 1rem 0 1rem;
}

#profile-content-2 .card {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0;
    border-top: 5px solid;
    border-top-color: #0072c6; /*Blue*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#profile-content-2 img {
    max-height: 170px;
    max-width: 170px;
}

#profile-content-2 h6 {
    font-size: 14px;
}

#profile-content-2 .card span {
    font-weight: 500;
}

#profile .Popup {
    padding-left: 0;
    padding-right: 0;
}

#profile .Popup .card {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid lightgrey;
    color: #000;
    background: #fff;
}

#profile .Popup .card-body {
    padding: 1rem 1rem 1rem 1rem;
}